<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>LoginApp</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="container">
    <div class="header clearfix mb-3 ">
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand " href="#">LoginApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
          aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav nav-pills ml-auto">

            {{#if user}}
            <li class="nav-item" role="presentation">
              <a class="nav-link " href="/users/logout">Logout</a>
            </li>
            <li class="nav-item " role="presentation">
              <a class="nav-link" href="/">Dashboard</a>
            </li>
            {{else}}

            <li class="nav-item" role="presentation">
              <a class="nav-link" href="/users/login">Login</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link " href="/users/register">Register</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link " href="/users/secret">Secret</a>
            </li>
             <li class="nav-item" role="presentation">
              <a class="nav-link " href="/users/logout">logout</a>
            </li>
            {{/if}}
          </ul>
        </div>
    </div>
    </nav>

    <main role="main">
      <div class="row">
        <div class="col-lg-12">
          {{#if success_msg}}
          <div class="alert alert-success">{{success_msg}}</div>
          {{/if}}
          {{#if error_msg}}
          <div class="alert alert-danger">{{error_msg}}</div>
          {{/if}}
          {{#if error}}
          <div class="alert alert-danger">{{error}}</div>
          {{/if}}

          {{{body}}}
        </div>
      </div>
    </main>

    <footer class="footer">
      <p>&copy; 2021 LoginApp, Inc</p>
    </footer>
  </div>
  <!--/container-->
</body>

</html>